In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import numpy as np

In [5]:
page_Coop = requests.get("https://www.profital.ch/de/flr/72139-coop-filialen/2699")
print(page_Coop.status_code) ## prints 200 as status code
#print(page.content[:3000]) ## prints the entire webpage content
soup_Coop = BeautifulSoup(page_Coop.content, "html.parser")
type(soup_Coop)

200

bs4.BeautifulSoup

In [6]:
soup_Coop.findAll('address');

In [7]:
Loc_Coop=[]
for pg in range(2,6):
    page_Coop_2 = requests.get(f"https://www.profital.ch/de/flr/72139-coop-filialen/2699?page={pg}")
    soup_Coop_2 = BeautifulSoup(page_Coop_2.content,"html.parser")
    soup_Coop_2.findAll('address')
    Loc_Coop.append(soup_Coop_2.findAll('address'))

In [8]:
Loc_Coop.append(soup_Coop.findAll('address'))
page_num_Coop=len(Loc_Coop)
page_num_Coop

5

In [14]:
Address_Coop=[]
Zip_Coop=[]
for i in range(0,page_num_Coop):
    for j in range(0,len(Loc_Coop[i])):
        Address_Coop.append(Loc_Coop[i][j].contents[0].strip())
        Zip_Coop.append(Loc_Coop[i][j].contents[2].strip().split()[0])
Address_Coop[:10]
Zip_Coop[:10]

['8045',
 '8002',
 '8037',
 '8006',
 '8006',
 '8055',
 '8037',
 '8024',
 '8047',
 '8001']

In [15]:
len(Zip_Coop)-len(Address_Coop)

0

In [16]:
df_Coop_Locator = pd.DataFrame(list(zip(Address_Coop,Zip_Coop)), columns=["Address", "Zip Code"])

In [17]:
df_Coop_Locator

                     Address Zip Code
0        Uetlibergstrasse 20     8045
1           Tessinerplatz 10     8002
2       Röschibachstrasse 22     8037
3      Universitätstrasse 73     8006
4     Universitätstrasse 101     8006
..                       ...      ...
57  Birmensdorferstrasse 200     8003
58        Badenerstrasse 333     8003
59       Maschinenstrasse 10     8005
60            Bleicherweg 19     8002
61       Giessereistrasse 18     8005

[62 rows x 2 columns]