In [2]:
import pandas as pd
import numpy as np

In [20]:
Kreis_id=[1,2,3,4,5,6,7,8,9,10,11,12]

## Area in km^2
Kreis_area=[1.80, 11.07, 8.65, 2.90, 1.99, 5.10, 15.02, 4.81, 12.07, 9.09, 13.42, 5.97]

Kreis_pop_2021=[5817, 36025, 50104, 29023, 15804, 35355, 38663, 17818, 57077, 41017, 76975, 32654]

## Density in population/km^2
Kreis_density=[3232, 3254, 5792, 10008, 7942, 6932, 2574, 3704, 4729, 4512, 5736, 5470]

Kreis_info=pd.DataFrame(list(zip(Kreis_id, Kreis_area, Kreis_pop_2021,Kreis_density)),
               columns =['Kreis_id', 'Kreis Area (km^2)', 'Kreis Population', 'Kreis Density (population/km^2)'])

In [21]:
Kreis_info

,Kreis_id,Kreis Area (km^2),Kreis Pupolation,Kreis Density (pupulation/km^2)
0,1,1.80,5817,3232
1,2,11.07,36025,3254
2,3,8.65,50104,5792
3,4,2.90,29023,10008
4,5,1.99,15804,7942
5,6,5.10,35355,6932
6,7,15.02,38663,2574
7,8,4.81,17818,3704
8,9,12.07,57077,4729
9,10,9.09,41017,4512
10,11,13.42,76975,5736
11,12,5.97,32654,5470

In [24]:
Kreis_info.to_csv("Krei_info", sep=',', index=False, encoding='utf-8')